.container {
  position: relative;
  background-color: rgba(167, 188, 255, 0.1);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: rgba(150, 150, 150, 0.3);
}

.wrapper_img {
  position: relative;
  height: 100vh;
  width: 100%;
}

.back_img {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../public/bg5.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.wrapper {
  background-color: white;
  padding: 20px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.title {
  color: #5d5b8d;
  font-size: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  padding: 15px;
  border: none;
  width: 250px;
  border-bottom: 1px solid #a7bcff;
}

.input::placeholder {
  color: rgb(175, 175, 175);
}

.button {
  padding: 15px;
  border: none;
  width: 250px;
  background-color: #7b96ec;
  color: white;
  padding: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.error {
  font-size: 10px;
  color: red;
}
