.message{
    width: max-content;
    background: #F2F2F7;
    color: var(--color-gray);
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 0 16px 16px 16px;
    margin: 1rem;
    
    &__text{
        margin: 0;
        padding: 0;
    }
    &_client{
        align-self: flex-end;
        background-color: #8da4f1;
        border-radius: 16px 0 16px 16px;
        color: #fff;
    }
}